<center>
  <h1>Deploy fearlessly</h1>
  <h2>by snapshotting your site each deploy</h2>
  <h3>and seeing the <%= %w[diffs changes differences diff difference change].shuffle.first %></h3>
  <br/>
  <h3>Using heroku? Just...</h3>
  <br/>
  <code>heroku addons:add deployhooks:http --url=http://whatthediff.herokuapp.com/snap</code>
  <h3>...and we'll tell you what broke!</h3>
</center>
