<center>
  <h1>Release with Confidence</h1>
  <h2>by snapshotting your site each deploy</h2>
  <h3>and seeing the diffs</h3>
  <br/>
  <h3>Using heroku?</h3>
  <br/>
  <code>heroku addons:add deployhooks:http --url=http://whatthediff.herokuapp.com/snap</code>
</center>
