<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<center>
  <h1>Great, we grabbed our first screenshot</h1>
  <a href="<%= @snapshot.image_url %>"><img src="<%= @snapshot.image_url %>" width="400"/></a>
  <p>That's a pretty page. Anything look wrong? <a href="https://docs.google.com/forms/d/1U4eESOI1iWg9QlHpoox8ioBEjHXos6Z5YnpOYlV2iCE/viewform?usp=send_form">Report an issue</a>.</p>
  <h2>Now go break something!</h2>
  <p><font color="#999999"><b><a href="http://whatthediff.herokuapp.com/">Diff Cop</a></b></font></p>
</center>
</body>
</html>
