<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Your deploy screenshots</h1>

<p>Thanks for using us to answer the question—<b>what the diff?!</b></p>
</body>
</html>
