<center>
  <h1>Great choice!</h1>
  <h2>Capturing your first screenshots.</h2>
  <h3>Watch for your first report at <code><%= @page_list.email %></code> in the next few minutes</h3>
  <h3>Come back here when you want to trigger again:</h3>
  <code><%= root_url %></code>
</center>
